html {
    height: 100%;
    }
    body {
    background-image: linear-gradient(#FFFFFF, rgb(255, 122, 89));
    }
body {
    width: auto;
    text-align: center;
    padding: 15px;
    border: 2px solid red;
    }
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
   }
.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.card-header {
 color: red;
 font-size: 60px;
}

